@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background: rgb(255, 226, 226);
    background: radial-gradient(circle, rgba(255, 226, 226, 1) 0%, rgba(225, 255, 223, 1) 100%);
    color: #444444;
}

.login-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 15px 40px 15px 40px;
    font-size: medium;
    background-color: #ff5a1f;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.home-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image,
.initials-container {
    border-radius: 50%;
    border: 6px solid rgb(249, 186, 186);
    padding: 6px;
    box-shadow: -2px 2px 20px 12px rgba(251, 251, 251, 0.75);
}

.initials-container {
    padding: 10px;
}

.initials {
    font-size: 80px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: #e2e6ff;
    border-radius: 50%;
    color: rgb(53, 53, 82);
}

h1 {
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
}

.email h4 {
    margin-bottom: 0;
}

h4 {
    color: #7d7d7d;

}

h2 {
    margin-bottom: 0;
}

.logout-btn {
    padding: 15px 40px 15px 40px;
    font-size: medium;
    background-color: #ff5a1f;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.button {
    margin-top: 20px;
}

.loadData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #f77777;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}